body 
{
  margin: 0;
  font-family: "Playwrite CU", cursive;
  background: url('images/blue-painting.png') no-repeat center center fixed;
  background-size: cover;
}

.container 
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top:60px;
  box-sizing: border-box;
}

.content-box 
{
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  width: 600px;
  background-color: rgb(228, 223, 168);
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

h1 
{
  font-size: 32px;
  font-family: "Playwrite CU", cursive;
  margin: 0;
  color: rgb(24, 23, 23);
}

.subtitle-primary
{
  font-family: "Abel", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px; 
  margin-bottom: 20px; 
  color: rgb(255, 255, 255); 
}

h2 
{
  font-size: 18px;
  font-family: "Playwrite CU", cursive;
  margin : 0 ; 
  color: rgb(213, 34, 148);
}

.nav 
{
  list-style-type: none;
  padding: 0;
  margin: 0 
}

.nav li 
{
  margin: 25px 0;
}

.nav a 
{
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 5px 0;
  border: 1px solid black;
  color: black;
}

.nav a:hover 
{
  background-color: rgb(213, 184, 232);
}
  
.social-links 
{
  margin-top: 20px;
}

.social-links ul 
{
  list-style: none;
  padding: 0;
}

.social-links li 
{
  display: inline;
  margin-right: 15px;
}

.social-links a 
{
  text-decoration: none;
  color: #e61313; 
  transition: color 0.3s;
  font-size: 24px;
}

.social-links a:hover 
{
  color: rgb(5, 74, 12); 
}


.school-projects, .internship, .research 
{
  margin-bottom: 30px; 
}

.school-projects h2, .internship h2, .research h2 
{
  font-size: 24px;
  color: #ffffff;
}

.school-projects p, .internship p, .research p 
{
  font-size: 16px;
 
}

.school-projects ul 
{
  list-style: none;
  padding: 0;
}

.school-projects li 
{
  margin-bottom: 20px;
}

.school-projects a 
{
  
  text-decoration: none;
  font-weight: bold;
}

.school-projects a:hover 
{
  
  text-decoration: underline;
}

.internship a, .research a 
{

  text-decoration: none;
  font-weight: bold;
}

.internship a:hover, .research a:hover 
{
 
  text-decoration: underline;
}

.section-box 
{
  border: 1px solid #ddd;
  background-color: #665088;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.section-box h2 
{
  color: rgb(16, 15, 15);
  font-size: 24px;
  margin-top: 0;
}

.section-box h3
{
  color: rgb(16, 15, 15);
  font-size: 14px;
  margin-top: 0;
}
.section-box p 
{
  color: #fbfafa;
  font-size: 16px;
 
}

.section-box ul 
{
  list-style: none;
  padding: 0;
}

.section-box li 
{
  margin-bottom: 20px;
  color : white; 
}

.section-box a 
{
  color: #ff0040;
  text-decoration: none;
  font-weight: bold;
}

.section-box a:hover 
{
  color:  #ff0040;
  text-decoration: underline;
}

.section-box img 
{
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

button 
{
  background: none;
  border: none;
  font-size: 24px; 
  cursor: pointer;
}

.icon 
{
  display: inline-block;
}

.navbar 
{
  padding: 10px 10px; 
  display: flex; 
  justify-content: center; 
}
  
.navbar .nav 
{
  display: flex; 
  gap: 10px; 
}

.navbar .nav li 
{
  display: inline; 
}

.navbar .nav a 
{
  color: #ff0040;
  padding: 8px  ;
  background-color: whitesmoke;
}
